@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#map-div { 
    height: calc(100vh - 1px); 
    width: 100vw;
    margin-top: 1px; 
}

.leaflet-left.leaflet-top
{
    position: fixed;
    top: unset;
    left: unset;
    bottom: 20px;
    right: 20px;
}
body .leaflet-bar a,body .leaflet-bar a:hover {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: bold;
    font-size: 27px !important;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-right: 2px;
    color: #676767;
}
.open .aff 
{
    display: none;
}
.c-menu .cm-el > .cac 
{
    display: none;
}
.cm-el.open > .cac 
{
    display: block !important;
}
body .dessin .leaflet-bar a
{
    background-color: #22c55e00;
}
body .leaflet-bar a span
{
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: bold;
    font-size: 27px !important;
}
.dessin .leaflet-bar a,.dessin .leaflet-bar a:hover
{
    border-bottom: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-bar a:hover,.btn-lb:hover
{
    color: #272727 !important;
}
.leaflet-bar a:first-child {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.leaflet-bar a:last-child {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control
{
    border-radius: 10px !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65) !important;
    border: none !important;
}
header
{
    position: fixed;
    top: 12px;
    left: 72px;
    z-index: 9999;
    display: flex;
    justify-content: end;
    width: calc(100vw - 72px);
    padding-right: 12px;
    height: 0px;
}
.search-container
{
    width: 322px;
    margin-left: 16px;
    margin-right: 16px;
}
.search-block
{
    width: 100%;
    height: 48px;
    background-color: #ffffffea;
    position: relative;
    padding: 11px 52px 11px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    border: none;
    border-radius: 24px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -57px 3px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -26px 3px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -87px 3px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -117px 3px;
}
.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 3px 3px;
}
.dessin .leaflet-draw-toolbar .leaflet-draw-edit-edit, .dessin .leaflet-draw-toolbar .leaflet-draw-edit-remove {
     border-radius: 50% !important;
    background-color: #22c55e00;
}
.dessin .leaflet-bar a:first-child {
     margin-right: 10px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled, .leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: -207px 3px;
}
.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled:hover, .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled
{
    background-color: #22c55e00;
}
.leaflet-draw-actions
{
    top: 45px !important;
    background-color: #fff;
    display: block;
    /* border: 1px solid silver; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02); 
    z-index: 99;
    border-radius: 12px;
    width: 280px;
    left: 0px;
}
.leaflet-draw-actions a
{
    border-radius: 24px;
    background-color: #4ADE80;
    border: none !important;
}
.leaflet-draw-actions a:hover
{
    background-color: #22c55e;
    transition: .3s ;
}
.leaflet-draw-actions li:last-child a {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 24px !important;
    background-color: #ff5c5c;
}
.leaflet-draw-actions li:last-child a:hover
{
    background-color: #ff0606;

}
.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled, .leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -237px 3px;
}
.dessin .leaflet-bar {
    box-shadow: none;
    border-radius: 4px;
}
.leaflet-draw-toolbar.leaflet-bar
{
    display: flex;
}
.search-block input
{
    width: 100;
    padding: 0 !important;
    height: 24px !important;
    line-height: 24px;
    width: 100%;    
    outline: none;
    font-size: 15px;
    border: none;
    background: none;
}
.search-block input::placeholder {
    font-weight: 400;
    color: #676767;
    opacity: .8;
  }
.search-btn
{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 48px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676767;
}
.search-result
{
    display: none;
    background-color: #ffffffea;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-size: 15px;
    width: 100%;
    padding: 8px 0;
    min-height: 150px;
    max-height: calc(100vh - 200px);
}
.focus .search-result
{
    display: block  ;
}
.search-container.focus .search-block
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
}
.profil
{
    display: flex;
    justify-content: center;
    height: 48px !important;
}
.btn-lb
{
    width: 36px;
    height: 36px;
    background-color: #ffffffea;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #676767;
    cursor: pointer;
}
.profil a
{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}
aside
{
    background-color: #ffffffea;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 999;
}
aside ul 
{
    display: flex;
    flex-direction: column;
}
aside ul li
{
    margin: 0 10px;
    padding: 15px 0;
}
.logo
{
    font-size: 1.5em;
    cursor: pointer;
}
.logo div:first-child
{
    
    display: flex;
    justify-content: center;
}
.logo div:first-child span
{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
.logo div:first-child span:nth-child(1)
{
    color: rgb(10, 170, 31);
}
.logo div:first-child span:nth-child(2)
{
    color: rgb(204, 59, 59);
}
.logo div:first-child span:nth-child(3)
{
    color: rgb(214, 255, 66);
}
.logo div:last-child
{
    display: flex;
    justify-content: center;
    font-size: 11px;
}
.bt
{
    border-bottom: 1px solid silver;
}
.icon-menu
{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(233 239 228);
    color: #676767;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li:hover .icon-menu i,li:hover .text-menu
{
    color: #272727;
}
li.on .icon-menu i, .grid .grid-element.btn-menu.active .icon-menu i, .grid .grid-element.btn-menu:has(.open) .icon-menu i  
{
    color: #fff;
}
li.on .text-menu, .grid .grid-element.btn-menu.active .text-menu
{
    color: #4ADE80;
}
.grid .grid-element.btn-menu.active .text-menu, .grid-element:has(.open) .text-menu
{
    color: #4ADE80 !important;
}
li.on > .icon-menu, .grid .grid-element.btn-menu.active .icon-menu, .grid-element:has(.open) .icon-menu
{
    background: linear-gradient(90deg, rgba(115,255,166,1) 0%, rgba(74,222,128,1) 57%, rgba(15,235,95,1) 100%);
}

.modal-box h5 
{
    font-weight: 500;
    font-size: 13px;
    margin: 10px 10px 0px 10px;
}
.text-menu, .grid .grid-element.btn-menu .text-menu
{
    font-size: 10px;
    padding-top: 5px;
    color: #676767;
}
.grid .grid-element.btn-menu .icon-menu i
{
    color: #676767
}
.grid .grid-element.btn-menu:hover i, .grid .grid-element.btn-menu:hover .text-menu
{
    color: #272727;
}
li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.log
{
    text-align: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #21422361;
    background: rgb(0,195,13);
    background: linear-gradient(90deg, rgb(92 225 141) 0%, rgb(74 222 128) 57%, rgb(92 225 141) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal
{
    position: fixed;
    width: 300px;
    top: 0px;
    left: 80px;
}
.modal-box
{
    min-height: 150px;
    background: rgba(245, 255, 244, 0.829);
    --globalnav-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    --globalnav-background: rgba(229, 236, 187, 0.22);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    padding: 10px;
    margin-top: 10px;
    transition: .4s;
}
.pad 
{
    padding: 10px;
}
.flex
{
    display: flex;
}
.p-obj 
{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
}
.p-obj span
{
    font-size: 11px;
    padding-top: 5px;
}
.p-obj img 
{
    border: 2px solid rgba(192, 192, 192, 0);
    border-radius: 8px;
}
.p-obj:hover img
{
    border: 2px solid #4ade809f;
}
.p-obj.active img
{
    border: 2px solid #4ADE80;
}
.modal h4 
{
    padding: 5px 10px;
}
.f-bs,.grid
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.mt-1
{
    margin-top: 10px;
}
.grid-element
{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.grid .grid-element.btn-menu .icon-menu
{
    width: 52px !important;
    height: 52px !important;  
    background-color: rgb(233 239 228);
    color: #676767;
}
.f-b 
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #676767;
    font-size: 13px;
}
.f-b:hover, .dessin .leaflet-bar a:hover
{
    background-color: #38442f15;
    color: #272727;
    transition: .3s;
}
.bouton
{
    padding: 15px;
}
.bouton button
{
    width: 100%;
    padding: 10px 0;
    background-color: #4ade80;
    color: #fff;
    border-radius: 24px;
}
.bouton button:hover
{
    background-color: #22c55e;
    transition: .3s;
}

.pop .title{
    font-weight: 700;
    font-size: 15px;
    color: #22c55e;
}
.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top
{
    width: 280px;
    display: flex;
    margin-top: 10px;
    box-shadow: none;
    justify-content: space-between;
}
.rel 
{
    position: relative;
    font-size: .8em;
}
.c-menu
{
    position: absolute;
    left: 65%;
    top: 55%;
    background: rgb(223 227 201 / 22%);
    --globalnav-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    --globalnav-background: rgba(229, 236, 187, 0.22);
    width: 200px;
    min-height: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    z-index: 9999;
    border-radius: 12px;
    padding: 10px;
}
.cm-el
{
    border-radius: 8px;
    padding: 5px 7px;
    display: flex;
    align-items: center;

}
.cm-el > div
{
    display: flex;
    align-items: center;
}
.cm-el:hover
{
    background-color: #53fd611e;
}
.cm-el span
{
    margin-left: 5px;
}

.pop .title{
    font-weight: 700;
    font-size: 15px;
    color: #22c55e;
}


.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

.search-result-item:last-child {
    border-bottom: none;
}
